/*////////////////////// button ///////////////////*/
/* makes title visible when hover */
div.homeButtonWrapper button:hover span {
  opacity: 1;
  padding-left: 15px;
}
/* changes styling of button when hover */
.homeButtonWrapper button:hover {
  border: 2px solid black;
  box-shadow: 0px 8px 7px 0px rgba(0,0,0,0.2);
}

.homeButtonWrapper button {
  border: 2px solid grey;
  padding: 5px;
  margin: 4px 2px;
  border-radius: 50%;
  box-shadow: 0px 8px 7px 0px rgba(0,0,0,0.2);
}

.homeButtonWrapper span {
  position: absolute;
  opacity: 0;
  text-shadow: 1px 1px 6px grey;
}

div.homeButtonWrapper {
  padding-left: 2%;
  position: relative;
  top: 30%;
}

/*////////////////////// anchors //////////////////*/
/* bottom border for every anchor and header */
div.homeAnchorWrapper .content, div.homeHeaderWrapper {
  border-bottom: 1px solid #d5d5d5;
}

div.homeAnchorWrapper div.content {
  min-height: 500px;
}

#homeBlogWrapper, #homePortfolioWrapper, #homeArtWrapper, #homeAboutWrapper {
  display: contents;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*/////////////////// news content ////////////////*/
div.news {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: inline-table;
  margin: 6px 10px;
}

#postAnchor, #aboutAnchor, #artAnchor, #portfolioAnchor {
  text-align: center;
}

/*////////////////// posts /////////////*/
/* top lower left right creates look of container for each post */
.top {
  height: 40px;
  background: black;
  color: white;
  box-shadow: 0 3px 6px grey;
}

.lower {
  display: -webkit-inline-box;
  height: 370px;
  width: 100%;
}

.left {
  width: 100px;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),

    linear-gradient(180deg, hsl(0,0%,78%)  0%, hsl(0,0%,90%) 47%,
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
  box-shadow: 0 3px 6px grey;
}

.right {
  width: 290px;
}
/* post data styling */
.postPic {
  height: 100px;
}

.postBody {
  height: 271px;
  display: table-footer-group;
}

.postBody p {
  padding: 0 10px 0 10px;
}

@keyframes shrink {
  from {transform: scale(1)}
  to {transform: scale(0)}
}

@keyframes enlarge {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.run-animation {
  animation-name: shrink;
  animation-duration: 0.6s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.reverse-animation {
  animation-name: enlarge;
  animation-duration: 0.6s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

#highlight-post-1, #highlight-post-2, #highlight-post-3 {
  width: 390px;
  height: 410px;
  display: inline-block;
}

/*///////////////// portfolio //////////////////////*/
#highlight-project-1, #highlight-project-2 {
  width: 550px;
  height: 410px;
}

.projectTitle {
  height: 40px;
  background: black;
  color: white;
  width: 100%;
  box-shadow: 0 3px 6px grey;
}

.projectPic {
  width: 220px;
  height: 100%;
  border-right-style: outset;
}

.projectExpand {
  color: cornflowerblue;
  margin: 20% 0;
}

.projectLinks {
  margin: 20% 0;
}

.projectLinks a {
  text-decoration: none;
  color: cornflowerblue;
}

.projectClose {
  color: cornflowerblue;
  margin: 20% 0 0 48%;
  font-size: 1.5em;
}

.projectContent {
  display: none;
  border-left-style: inset;
}

.projectClose {
  display: none;
}

.projectPic img {
  width: 90%;
  padding: 10px 3px 0 3px;
}

.projectDesc {
  width: 310px;
  height: 97%;
  overflow: auto;
  padding: 10px 16px 0 16px;
}

/*//////////////// art //////////////////*/
#highlight-art-1 img, #highlight-art-2 img, #highlight-art-3 img {
  max-height: 300px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

#homeArtWrapper button {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: relative;
  padding-top: 6px;
}

#homeArtWrapper .middleArt {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#homeArtWrapper button:hover .middleArt {
  opacity: 1;
}

#homeArtWrapper button:hover img {
  opacity: 0.3;
}

#homeArtWrapper span {
  text-shadow: 1px 1px 2px grey;
}

#viewArtWrapper {
  display: none;
  height: 400px;
  max-width: 1300px;
  align-items: center;
}

#viewArtWrapper img {
  height: 400px;
  padding: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#viewArt {
  border-left-style: inset;
  padding-left: 25px;
  width: 100%;
}

#viewArt p {
  margin: 100px 0;
}

#homeArtWrapper .artClose {
  box-shadow: 0 0 0 0;
  font-size: 1em;
  margin-left: 15px;
  height: 40px;
  color: cornflowerblue;
}

/*///////////////////// post modal //////////////////*/


#viewPostWrapper {
  display: none;
  z-index:1;
  left: 0;
  top: 710px;
  width: 80%;
  margin: auto;
  padding: 10px 30px;
  height: 390px;
  box-shadow: 0px 8px 7px 0px rgba(0,0,0,0.2);
}

.post-modal {
 /* Hidden by default */
  margin: 0 5%;
  position: relative;
  overflow: auto;
  height: 300px;
  background-color: white;

}

.post-modal-content {
  margin: auto;
  background-color: white;
  display: block;
  width: 80%;
  max-width: 700px;
  max-height: 800px;
  object-fit: contain;
}
/* Add Animation */
.post-modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.postClose {
  position: relative;
  top: 0px;
  left: 48%;
  color: darkgrey;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.postClose:hover, .postClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#viewPostWrapper:after {
  content: "";
  position: absolute;
  margin: auto 17%;
  z-index: 1;
  top: 65em;
  left: 0;
  background-image: linear-gradient(to bottom,
                    rgba(255,255,255, 0),
                    rgba(255,255,255, 1) 90%);
  width: 66%;
  height: 2.5em;
}
/* text and images in modal */
.post-modal-content pre {
  overflow: scroll;
  background-color: lightgrey;
}

.post-modal-content p:first-of-type {
  font-size: 1.5em;
  font-weight: bold;
}

.post-modal-content p:last-of-type {
  padding-bottom: 30px;
}

.post-modal-content p img {
  width: 70%;
  height: 70%;
}
