.homeButtonWrapper button {
  border: 2px solid grey;
  padding: 5px;
  margin: 4px 2px;
  border-radius: 50%;
  box-shadow: 0px 8px 7px 0px rgba(0,0,0,0.2);
}

.homeButtonWrapper button:hover {
  border: 2px solid black;
  box-shadow: 0px 8px 7px 0px rgba(0,0,0,0.2);
}

.homeButtonWrapper span {
  position: absolute;
  opacity: 0;
  text-shadow: 1px 1px 6px grey;
}

div.homeButtonWrapper button:hover span {
  opacity: 1;
  padding-left: 15px;
}

div.homeAnchorWrapper .content, div.homeHeaderWrapper {
  border-bottom: 1px solid #d5d5d5;
}

div.homeButtonWrapper {
  padding-left: 2%;
  position: relative;
  top: 30%;
}

#homeBlogWrapper, #homePortfolioWrapper, #homeArtWrapper, #homeAboutWrapper {
  display: contents;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div.news {
  padding: 5px 9px 0 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: inline-block;
  margin: 6px 10px;
}

div.homeAnchorWrapper div.content {
  min-height: 500px;
}

#postAnchor, #aboutAnchor, #artAnchor, #portfolioAnchor {
  text-align: center;
}

#highlight-1 img, #hightlight-2 img, #hightlight-3 img {
  max-height: 300px;
}

.postHeader {
  width: 100%;
  padding: 5px 2px;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),

    linear-gradient(180deg, hsl(0,0%,78%)  0%, hsl(0,0%,90%) 47%,
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
  box-shadow: 0 3px 6px grey;
}

.postPic {
  width: 100%;
  height: 150px;
  border-style: inset;
}

.postBody {
  height: 150px;
  margin-top: 9px;
}

#highlight-post-1, #highlight-post-2, #highlight-post-3 {
  width: 350px;
  height: 350px;
}

#highlight-project-1, #highlight-project-2 {
  width: 550px;
  height: 350px;
}

.projectTitle {
  width: 100%;
  padding: 5px 2px;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),

    linear-gradient(180deg, hsl(0,0%,78%)  0%, hsl(0,0%,90%) 47%,
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
  box-shadow: 0 3px 6px grey;
}

.projectPic {
  width: 40%;
  height: 315px;
  border-right-style: double;
  float: left;
}

.projectDesc {
  width: 59%;
  height: 315px;
  float: left;
}

#highlight-project-1:after, #highlight-project-2:after {
  content: "";
  display: table;
  clear: both;
}
