/*///////////////// portfolio //////////////////////*/
#highlight-project-1, #highlight-project-2 {
  width: 550px;
  height: 410px;
  opacity: 1;
  /*position: relative;*/
}

.projectlower {
  display: -webkit-inline-box;
  height: 370px;
/*width: 100%;*/
}

.projectTitle {
  height: 40px;
  background: black;
  color: white;
/*  width: 100%;*/
  box-shadow: 0 3px 6px grey;
}

.projectPic {
  width: 220px;
  height: 100%;
  border-right-style: outset;
}

.projectExpand {
  color: cornflowerblue;
  margin: 20% 0;
}

.projectLinks {
  margin: 20% 0;
}

.projectLinks a {
  text-decoration: none;
  color: cornflowerblue;
}

.projectContent {
  display: none;
  border-left-style: inset;
  text-align: left;
  max-width: 240px;
}

.projectContent p {
  padding: 5px;
}

.projectClose {
  display: none;
  color: cornflowerblue;
  margin: 20% 0 0 48%;
  font-size: 1.5em;
}

.projectPic img {
  width: 90%;
  padding: 10px 3px 0 3px;
}

.projectDesc {
  width: 50%;
/*  height: 97%;*/
  overflow: auto;
  padding: 10px 16px 0 16px;
}

@keyframes moveLeft {
  from {transform: translate(0)}
  to {transform: translate(-3000px)}
}

@keyframes moveRight {
  from {transform: translate(0)}
  to {transform: translate(3000px)}
}


@keyframes fadeOutIn {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}

/*@keyframes portfolioShrink {
  from {transform: scale(1); width: 550px;}
  to {transform: scale(0); width: 0px}
}*/

.fadeOutIn {
  animation-name: fadeOutIn;
  animation-duration: 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.move-left-animation {
  animation-name: moveLeft;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.move-right-animation {
  animation-name:  moveRight;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

/*.enlarge-portfolio-animation {
  animation-name: portfolioEnlarge;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.shrink-portfolio-animation {
  animation-name: portfolioShrink;
  animation-duration: .6s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}*/
