#tskill, #mskill {
  text-align: left;
}

#tskill {
  float: right;
}

#mskill {
  float: left;
}

#contact {
  text-align: center;
  padding-bottom: 20px;
}

#contact p {
  display: block;
}

#contact span {
  font-weight: 500;
}

#tskill h3, #mskill h3 {
  text-align: center;
}

#tskill {
  border-right-style: solid;
  padding-right: 20px;
}

.skills {
  display: inline-flex;
  width: 50%;
  padding: 73px 0;
}

#summary, #bio {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

#center {
  display: inline-block;
}

#portrait {
  width: 40%;
  display: inline-flex;
  float: left;
  padding-right: 90px;
}

#portrait img {
  width: 100%;
  filter: drop-shadow(50px 50px 30px rgba(0,0,0,0.5));
}
