#tskill, #mskill {
  text-align: left;
}

#tskill {
  float: right;
}

#mskill {
  float: left;
}

#contact {
  text-align: center;
  padding-bottom: 20px;
}

#contact p {
  display: block;
}

#contact span {
  font-weight: 500;
}

#tskill h3, #mskill h3 {
  text-align: center;
}

#tskill {
  border-right-style: solid;
  padding-right: 20px;
}

.skills {
  display: inline-flex;
}

#summary, #bio {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}
