div.homeHeaderWrapper {
  display: -webkit-inline-box;
  width: 100%;
}

.homeImage {
  width: 90%;
  height: 100%;
  text-align: center;
}

div.homeImage img {
  height: 100%;
 filter: drop-shadow(67px 70px 15px rgba(0,0,0,0.9));

}

/*////////////////////// button ///////////////////*/
/* makes title visible when hover */
div.homeButtonWrapper button:hover span {
  opacity: 1;
  padding-left: 15px;
}
/* changes styling of button when hover */
.homeButtonWrapper button:hover {
  border: 2px solid black;
  box-shadow: 0px 8px 7px 0px rgba(0,0,0,0.2);
}

.homeButtonWrapper button {
  border: 2px solid grey;
  padding: 5px;
  margin: 4px 2px;
  border-radius: 50%;
  box-shadow: 0px 8px 7px 0px rgba(0,0,0,0.2);
}

.homeButtonWrapper span {
  position: absolute;
  opacity: 0;
  text-shadow: 1px 1px 6px grey;
}

div.homeButtonWrapper {
  padding-left: 2%;
  position: relative;
  top: 30%;
}

/*////////////////////// anchors //////////////////*/
/* bottom border for every anchor and header */
div.homeAnchorWrapper .content, div.homeHeaderWrapper {
  border-bottom: 1px solid #d5d5d5;
}

div.homeAnchorWrapper div.content {
  min-height: 500px;
}

#homeBlogWrapper, #homePortfolioWrapper, #homeAboutWrapper {
  display: contents;
/*  position: relative;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

/*/////////////////// news content ////////////////*/
div.news {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: inline-table;
  margin: 6px 10px;
}

#postAnchor, #aboutAnchor, #artAnchor, #portfolioAnchor {
  text-align: center;
}

/*///////////////////// post modal //////////////////*/


#viewPostWrapper {
  display: none;
  z-index:1;
  left: 0;
  top: 710px;
  width: 80%;
  margin: auto;
  padding: 10px 30px;
  height: 390px;
  box-shadow: 0px 8px 7px 0px rgba(0,0,0,0.2);
}

.post-modal {
 /* Hidden by default */
  margin: 0 5%;
  position: relative;
  overflow: auto;
  height: 300px;
  background-color: white;

}

.post-modal-content {
  margin: auto;
  background-color: white;
  display: block;
  width: 80%;
  max-width: 700px;
  max-height: 800px;
  object-fit: contain;
}
/* Add Animation */
.post-modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.postClose {
  position: relative;
  top: 0px;
  left: 48%;
  color: darkgrey;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.postClose:hover, .postClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#viewPostWrapper:after {
  content: "";
  position: absolute;
  margin: auto 17%;
  z-index: 1;
  top: 65em;
  left: 0;
  background-image: linear-gradient(to bottom,
                    rgba(255,255,255, 0),
                    rgba(255,255,255, 1) 90%);
  width: 66%;
  height: 2.5em;
}
/* text and images in modal */
.post-modal-content pre {
  overflow: scroll;
  background-color: lightgrey;
}

.post-modal-content p:first-of-type {
  font-size: 1.5em;
  font-weight: bold;
}

.post-modal-content p:last-of-type {
  padding-bottom: 30px;
}

.post-modal-content p img {
  width: 70%;
  height: 70%;
}
