.dropbtn:hover {
  border: 5px solid lightgrey;
}
/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  -moz-box-shadow: inset 0 0 10px white;
  -webkit-box-shadow: inset 0 0 10px white;
  box-shadow: inset 0 0 10px white;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 15.5px 16px;
  text-decoration: none;
  display: inline;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: white;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
  box-shadow: inset 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  -moz-box-shadow: inset 0 0 10px grey;
  -webkit-box-shadow: inset 0 0 10px grey;
  box-shadow: inset 0 0 10px grey;
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 138px;
  min-height: 35px;
  padding-top: 16px;
  margin-left: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: inline-block;}

.active {
  -moz-box-shadow: inset 0 0 10px lightgrey;
  -webkit-box-shadow: inset 0 0 10px lightgrey;
  box-shadow: inset 0 0 10px lightgrey;
}
