div.projectArchiveWrapper ul button img {
  width: 100%;
  height: 100%;
}

div.projectArchiveWrapper ul button {
  width: 25%;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 5px;
  padding-top: 5px;
}

div.projectArchiveWrapper ul {
  display: contents;
}

div.projectWrapper .notes {
  padding-right: 3%;
}

div.projectWrapper span {
  font-weight: 500;
}

div.projectWrapper {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 1%;
  margin-top: 3%;
}
/* to fade image to monotone */
div.projectArchiveWrapper button.activeProject {
  animation: button-clicked;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
/* adds comic bubble under selected project*/
div.projectArchiveWrapper button.activeProject:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: lightgrey;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

div.projectArchiveWrapper {
  display: inline-flex;
}
/* makes the image monotone when clicked */
@keyframes button-clicked {
  0% {
  }
  100% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-color: lightgrey;
  }
}
