iframe html, iframe body {
  width: 100%;
  height: 100%;
}

iframe {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  margin-top: 2%;
}

#resumeViewer {
  height: 100%;
  width: 100%;
  text-align: center;
}
